.category {
    .logo {
        text-align: center;
        padding: 30px;
        img {
            max-width: 200px;
        }
    }
    .title {
        font-size:1.8em;
        color: #fff;
        max-width: 350px;
        margin: 10px 70px;
        border-bottom: solid 1px #ccc;
        line-height: 1.1em;
    }

    .hr {
        margin: 5px 60px;
        border-color: #aaa;
        border-style: solid;
    }

    .media-list {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 60px;

        .media {
            width: calc(100% / 3);
            cursor: pointer;
            padding: 10px;
            transition: all .2s;
            &:active, &:hover {
                transform: scale(1.1);
            }

            .name {
                background-color: #eaeedf;
                color: darken(#eaeedf, 60%);
                text-align: center;
                margin-top: 5px;
                border-radius: 5px;
                padding: 5px;
            }

            .image {
                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
    }

}
