#main-wrapper {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
a {
    color: #fff;
}


.view {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
