.main-menu {
    float: right;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    background: rgba(120, 120, 120, .8);
    height: 100vh;
    margin: 0;
    list-style: none;
    padding: 50px;
    font-size: 1.5em;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 10px;
            text-align: right;

            a:active, a:hover {
                color: #fff;
            }
        }
    }

    .logo {
        text-align: right;
        margin-top: 25px;
        margin-bottom: 100px;

        img {
            max-width: 90%;
        }
    }
}
