<template>
    <div class="wrapper" id="main-wrapper" :style="{backgroundImage: ('url(storage/' + store.background_ipad + ')')}">
        <transition name="slide-fade">
            <router-view class="view"></router-view>
        </transition>
    </div>
</template>

<script>
    import io from 'socket.io-client'
    import {store} from '../includes/store'

    export default {
        data () {
            return {
                media: [],
            }
        },
        computed: {
          store() { return this.$store.state.store },
        },
        mounted () {
            window.socket = io.connect(window.SOCKET_IO_URL)

            axios.get('/api/store')
            .then(res => {
                store.commit('store', res.data.data)
            })
        }
    }
</script>
