<template>
    <div class="container">
        <div class="main-menu">
            <div class="logo" v-if="store.logo">
                <img :src="'storage/' + store.logo" alt="">
            </div>
            <ul>
                <li v-for="category in categories">
                    <router-link :to="{ name: 'categories.show', params: { id: category.id }}">{{ category.name }}</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                categories: []
            }
        },
        computed: {
            store() { return this.$store.state.store }
        },
        mounted() {
            socket.emit('media-intro')
        },
        created() {
            axios.get('/api/categories')
                .then(res => {
                    this.categories = res.data.data
                })
        }
    }
</script>
